@model PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.status == "success")
        {
            <div class="alert alert-info">
                Sifreniz basariyla yenilenmistir. Giris sayfasindan yeni sifrenizle giris yapabilirsiniz.
            </div>
            <a class="btn btn-link" asp-action="Login" asp-controller="Home">Giris icin tiklayiniz.</a>
        }
        else
        {
            <h4>Sifre yenileme alani</h4>
            <hr />
            <form asp-action="ResetPasswordConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni sifre olustur" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>


