@using Microsoft.CodeAnalysis.CSharp.Syntax
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">


            <a class="navbar-brand" asp-action="Index" asp-controller="Home">PeerPilot.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Login" asp-controller="Home">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="SignUp" asp-controller="Home">Register <span class="sr-only">(current)</span></a>
                        </li>
                    }

                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Peer"))
                    {

                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Peer">Peer Page <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-info" asp-action="Logout" asp-controller="Member">Çıkış Yap</a>
                        </li>
                    }

                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Member"))
                    {

                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Member">Member Page <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-info" asp-action="Logout" asp-controller="Member">Çıkış Yap</a>
                        </li>

                    }

                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Coordinator"))
                    {

                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Coordinator">Coordinator Page <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-info" asp-action="Logout" asp-controller="Member">Çıkış Yap</a>
                        </li>

                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {

                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Admin">Admin Page <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-info" asp-action="Logout" asp-controller="Member">Çıkış Yap</a>
                        </li>

                    }

                </ul>
            </div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            Welcome @this.User.Identity.Name!
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            Welcome anonymous user!
                        </li>
                    </ul>
                </div>
            }

        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
