
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_RapidLayout.cshtml";
}

<div style="padding: 120px">
    <h1>Bu sayfaya erişim izniniz yoktur. Erişim izni almak için site yöneticisiyle görüşünüz.</h1>
</div>

