
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_RapidLayout.cshtml";
}

<div style="padding: 120px; margin-top: 5%;text-align: center">
    <h1>Bu sayfaya erişim izniniz yoktur. Erişim izni almak için site yöneticisiyle görüşünüz.</h1>
    <a class="btn btn-dark btn-lg" asp-action="Index" asp-controller="Member">Geri dön</a>
</div>


