@model UserViewModel

@{
    Layout = "~/Views/Shared/_RapidLayout.cshtml";
    ViewData["Title"] = "SignUp";
}


<div id="logreg-forms" class="center">
    <form class="form-signin" asp-controller="Home" asp-action="SignUp" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Üye Ol</h1>
        <hr />
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div>
        <p style="text-align:center"> Ya da  </p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" asp-for="Email">
        <input type="text" class="form-control" placeholder="Username" required="" asp-for="UserName">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" asp-for="Password">
        <input type="tel" class="form-control" placeholder="Phone Number" required="" asp-for="PhoneNumber">

        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Kayıt Ol</button>
    </form>
    <br>
</div>

<p style="text-align:center">
    <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
       e.preventDefault();
       $('#logreg-forms .form-signin').toggle() // display:block or none
       $('#logreg-forms .form-reset').toggle() // display:block or none
       }
       function toggleSignUp(e){
       e.preventDefault();
       $('#logreg-forms .form-signin').toggle(); // display:block or none
       $('#logreg-forms .form-signup').toggle(); // display:block or none
       }
       $(()=>
        {
        // Login Register Form
        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
        $('#logreg-forms #cancel_reset').click(toggleResetPswd);
        $('#logreg-forms #btn-signup').click(toggleSignUp);
        $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })g" target="_blank" style="color:black">
    </a>
</p>
